<div class="final-container">
  <div class="message-card">
    <h1>My Dearest Farah ❤️</h1>
    
    <div class="love-message">
      <p>
        w ehna benwassal le nehayet el advendture, 3ayzak te3raf ad eh enty far2a ma3aya.
        kol la7za ma3aky 8alya awyyy, w kol yom ma3aky a7la mn ely ablo.
        enty 8ayarteny lel a7san we 5alteny dyman bafakar lel most2bl we eh ely momkn 23mlo 3shan nb2a m3 b3d we n3esh sawa mabsoten.
      </p>
    
      <p>
        You are my best friend, my secret keeper, w my greatest love.
        baw3edek a7ebek men gher shoroot, asanedek fi kol a7lamek, w akon gambek fi kol wa2t t7tageny fe insha2Allah.
      </p>
    
      <p>
        kol sana w enty tayeb ya 7bebet alby. ya rab sneen kter tanya ne3mel fiha zekrayat gamela sawa.
        ana ba7ebbak aktar mel kalam ma ye2dar ye2ol, w ana momtan awi enek mawgooda fe 7ayaty.
      </p>
    </div>

    <div class="signature">
      <p>Forever Yours,</p>
      <p class="name">Osama ❤️</p>
    </div>
  </div>
</div>
